body{
    overflow-x: hidden;
}


main{
    width: 100vw;
    max-width: 1440px;
    margin: auto;
}


.first-section{
    width: 100%;
    position: relative;


    .hero{
    width: 100%;
    height: 100% ;

    }

    .container-arrows{
        position: absolute;
        width: 130px;
        height: 50px;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img{
            cursor: pointer;
        }

        .left,
        .right{
            width: 50%;
            height: 100%;
            text-align: center;
            padding-top: 13px;
            background: $Black;
            cursor: pointer;
        }

        .left:hover,
        .right:hover{
            background: $VeryDarkGray;
        }

    }
}



.second-section{
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1{
        font-size: 2rem;
        margin-bottom: 20px;
    }

    p{
        line-height: 20px;
        color: $DarkGray;
        margin-bottom: 40px;
    }

    .shop-now{
        text-transform: uppercase;
        font-weight: bolder;
        letter-spacing: 8px;
        cursor: pointer;
    }

    .shop-now:hover{
        color: $DarkGray;
    }
}


.third-section{
    width: 100%;

    img{
        width: 100%;
    }
}





.fourth-section{
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2{
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 20px;
        letter-spacing: 5px;
    }

    p{
        line-height: 20px;
        color: $DarkGray;
        margin-bottom: 40px;
    }

}


.fifth-section{
    width: 100%;

    img{
        width: 100%;
    }
}



.desktop{
    height: 100% !important;
    display: none ;
}










@media (min-width:1100px) {

    main {
        height: 650px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .first-section { 
            grid-area: 1 / 1 / 3 / 5; 
            width: unset;
            height: unset;

            .container-arrows{
                transform: translateX(130px);
        }
    }

        .second-section { 
            grid-area: 1 / 5 / 3 / 8; 
            width: unset;
            justify-content: center;
        }

        .third-section { 
            grid-area: 3 / 1 / 4 / 3; 
            width: unset;
        }

        .fourth-section { 
            grid-area: 3 / 3 / 4 / 6; 
            width: unset;
        }

        .fifth-section { 
            grid-area: 3 / 6 / 4 / 8; 
            width: unset;
        }

        .mobile{
            display: none;
        }

        .desktop{
            height: 100% !important;
            display: block;
        }


}